@extends('adminlte::page')

@section('title', 'home')

@section('content_header')
    
@stop

@section('content')
    
@stop

@section('css')
    {{-- Add here extra stylesheets --}}
    {{-- <link rel="stylesheet" href="/css/admin_custom.css"> --}}
@stop

@section('js')
    <script src="https://cdn.tailwindcss.com"></script>
    <script> console.log("Hi, I'm using the Laravel-AdminLTE package!"); </script>
@stop
VITE_APP_URL="https://sistemacostos-production.up.railway.app/"
NIXPACKS_BUILD_CMD="composer install && npm install && php artisan optimize && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan migrate --force"